.profile__avatar-btn {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

.profile__avatar-btn::before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(./edit-icon.svg) center no-repeat;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
}

.profile__avatar-btn:hover::before {
  opacity: 1;
}
