.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  flex-shrink: 0;
  background-color: transparent;
  background-image: url('./__add-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  cursor: pointer;
  transition: 0.3s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 960px) {
  .profile__add-button {
    margin: 36px auto 0;
    background-size: 16px 16px;
  }
}

@media screen and (max-width: 480px) {
  .profile__add-button {
    width: 100%;
  }
}
